@import "tailwindcss";

@theme {
  --color-army-dark: #1B2B1B;
  --color-army-green: #2E4B2D;
  --color-gold: #D4AF37;
  --color-ink: #111111;
}

@layer base {
  body {
    @apply bg-army-dark text-white;
  }
}
